<!DOCTYPE html>
<html lang="zh">
<head>
	<title>接口配置</title>
	<link rel='stylesheet'href='/css/style.css'/>
</head>
<body class="body-bg">
	<div class="content">
		<p>MOCK 规则</p>
		<textarea id="code"></textarea>
		<p>数据预览</p>
		<pre id="data" ></pre>
		<p>接口地址</p>
		<pre id="url"></pre>
		<div class="btn" id="submit">生成 MOCK</div>
	</div>
	<script type="text/javascript" src="./js/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="./js/index.js"></script>
</body>
</html>